<div class="footer-box">
    <footer>
        <div class="icons">
            <a href="https://www.facebook.com/Majdy.Laba/" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/majdylaba/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>

            <a href="https://www.youtube.com/channel/UCFqc_TuWJoXpmpDyHLjSVTA" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/home">Home</a></li>
            <li class="list-inline-item"><a href="/services">Services</a></li>
            <li class="list-inline-item"><a href="/about">About</a></li>
            <li class="list-inline-item"><a href="/terms">Terms</a></li>
            <li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Calisthenics FAQs © 2022</p>
    </footer>
</div>