  <div class="form-login">
            <span class="title">Login</span>

            <form action="/login" method="POST">
              <div class="input-box">
                  <input type="text" name="username" placeholder="Enter your name" required" >
                  <i class="uil uil-user"></i>
              </div>
              <div class="input-box">
                <input type="password" name= "password" class="password" placeholder="Enter your password" required" >
                <i class="uil uil-lock icon"></i>
                <i class="uil uil-eye-slash showHidePw"></i>
              </div>
              
              <div class="checkbox-text">
                <div class="checkbox-content">
                  <input type="checkbox" name="" id="logCheck">
                  <label for="logCheck" class="text">Remember me</label>
                </div>

                <a href="" class="text">Forgot password?</a>
              </div>
              <div class="input-box button">
                <input type="submit"  value="Log In Now!">
              </div>
            </form>

            <div class="login-signup">
              <span class="text">Not a member?
                <a href="/register" class="text signup-link">Sign up now</a>
              </span>
            </div>
          </div>